<!DOCTYPE html>
<html ng-app="mainApp">
    <head>
        <title>Angular Test</title>
    
        <link href="assets/css/iconFont.min.css" rel="stylesheet" />
        <link href="assets/css/metro-bootstrap.min.css" rel="stylesheet" />
        <link href="assets/css/metro-bootstrap-responsive.min.css" rel="stylesheet" />
    
        <script src="assets/js/jquery-2.1.3.min.js"></script>
        <script src="assets/js/jquery-ui.min.js"></script>
        <script src="assets/js/metro.min.js"></script>

        <script src="app/angular.min.js"></script>
        <script src="app/mainApp.js"></script>
        <script src="app/users.js"></script>
    </head>
    <body class="metro" ng-controller="TestCtrl">
        <div class="container">
            <header class="margin20 nrm nlm">
                <h1>Masman</h1>
                <nav class="horizontal-menu">
                    <ul class="nlm nlp">
                        <li><a class="nlp" href="javascript:;">Start</a></li>
                        <li><a href="javascript:;">Users</a></li>
                        <li><a href="javascript:;">Groups</a></li>
                        <li><a href="javascript:;">Tasks</a></li>
                        <li class="place-right"><a href="javascript:;">Sign in</a></li>
                    </ul>
                </nav>
            </header>
            <form ng-controller="AddUserCtrl" ng-submit="addUser()">
                <h2>Add user</h2>
                <input ng-model="user.firstname" type="text" placeholder="Firstname" required="required" />
                <input ng-model="user.lastname" type="text" placeholder="Lastname" required="required" />
                <select ng-model="user.gender" required="required">
                    <option value="" disabled="disabled" selected="selected">gender</option>
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
                <input ng-model="user.company" type="text" placeholder="Company" required="required" />
                <input ng-model="user.email" type="email" placeholder="Mail" required="required" />
                <button type="submit">Add to collection</button>
            </form>
            <hr />
            <h2>All Users</h2>
            <input type="search" ng-model="search" placeholder="Suchen..." autofocus="autofocus" />
            <table class="table">
                <thead>
                    <tr>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Geschlecht</th>
                        <th>Firma</th>
                        <th>E-Mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users | filter:search">
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.gender}}</td>
                        <td>{{user.company}}</td>
                        <td>{{user.email}}</td>
                    </tr>
                </tbody>
            </table>
            <footer>
                &copy; 2015 <a href="https://www.marienschule-opladen.com/">Marienschule Opladen</a>
            </footer>
        </div>
    </body>
</html>