﻿@model IEnumerable<Masman_Proof_of_Concept.Models.UserViewModel>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GivenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SAMAccountName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GivenName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SAMAccountName)
        </td>
        <td>
            @*
                 @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                 @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                 @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            *@
        </td>
    </tr>
}

</table>

<h2>Kenwort überprüfen</h2>
@using (Html.BeginForm("ValidateCredentials", "Users"))
{
    @Html.TextBox("sAMAccountName", null, new { placeholder = "Username" })
    @Html.Password("password", null, new { placeholder = "New Password" })
    <input type="submit" name="save" value="Validate!" />
}

<h2>Kenwort ändern</h2>
@using (Html.BeginForm("ChangePassword", "Users")) {
    @Html.TextBox("sAMAccountName", null, new { placeholder = "Username" })
    @Html.Password("password", null, new { placeholder = "New Password" })
    <input type="submit" name="save" value="Change Password!" />
}
